<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v4.min.js"></script>
</head>
<style type="text/css">
  #viz {
    position:absolute;
  }

  .node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}
</style>
<body>

<div class="page-header">
  <h1>BGER Visualisation</h1>
</div>
  
<div class="container-fluid">
  <form action = "http://localhost:5000/result" method = "POST">
         <p>Keyword <input type = "text" name = "Name" /></p>
         <p><input type = "submit" value = "submit" /></p>
  </form>
  <div class="row">
    <div class="col-lg-6 col-md-6 ml-3">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-lg-6 col-md-6">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <div id="viz"></div>
    </div>
  </div>
</div>

</body>
<script>
var data2 = {
  'nodes': 
    [{"id": "BGE 95 IV 162", "x":"1969-12-5", "y":208.992345},
    {"id": "BGE 80 IV 238", "x":"1969-9-4", "y":208.992345},
    {"id": "BGE 80 IV 240", "x":"1961-9-4", "y":208.992345},
    {"id": "BGE 82 IV 8", "x":"1960-1-3", "y":208.992345}],
  'links': 
    [{"source":'BGE 95 IV 162', "target":'BGE 80 IV 238'},
    {"source":'BGE 95 IV 162', "target":'BGE 80 IV 240'},
    {"source":'BGE 95 IV 162', "target":'BGE 82 IV 8'},]
}

//https://bl.ocks.org/rsk2327/2ebd7f00d43b492e64eee14f35babeac

var data = {
  'nodes': 
    [{"id": "BGE 95 IV 162", "x":208.992345, "y":208.992345},
    {"id": "BGE 80 IV 238", "x":210.992345, "y":208.992345},
    {"id": "BGE 80 IV 240", "x":108.992345, "y":208.992345},
    {"id": "BGE 82 IV 8", "x":201.992345, "y":208.992345}],
  'links': 
    [{"source":'BGE 95 IV 162', "target":'BGE 80 IV 238'},
    {"source":'BGE 95 IV 162', "target":'BGE 80 IV 240'},
    {"source":'BGE 95 IV 162', "target":'BGE 82 IV 8'},]
}

var margin = {top: 50, right: 20, bottom: 60, left: 90},
    width = 600 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

//--------------------transforming dates in positions---------------
//The format in the CSV, which d3 will read
var parseDate = d3.timeParse("%Y-%m-%d");
console.log(parseDate(data2["nodes"][0].x))
// Object.keys(data["nodes"]).forEach(function(key, index) {
//     console.log(key, index, data["nodes"][index].x);
//     test = parseDate.parse(data["nodes"][index].x);
//     console.log("date", test);
// });
var startDate = new Date();
var x  = d3.scaleTime()
  .domain([new Date(1960, 0, 1), new Date(1968, 0, 2)])
  .range([0, width]); //range of x axis will be 1000px

var xPos = x(parseDate(data2["nodes"][0].x));
console.log('test', xPos, startDate);

var nodes = data.nodes,
    links = data.links;

function dist(d)
{
  return d.x+30;
}

//--------------------network graph---------------
var svg = d3.select('#viz').append('svg')
    .attr('width', 500)
    .attr('height', 500);

var simulation = d3.forceSimulation()
    .force("charge", d3.forceManyBody().strength(-200))
    .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(150))
    .force("x", d3.forceX(width / 2))
    .force("y", d3.forceY(height / 2))
    .on("tick", ticked);

var link = svg.selectAll(".link"),
    node = svg.selectAll(".node");


  simulation.nodes(nodes);
  simulation.force("link").links(links);

  link = link
    .data(links)
    .enter().append("line")
      .attr("class", "link");

  node = node
    .data(nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", 6)
      .style("fill", function(d) { return d.id; });


function ticked() {
  link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node.attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
}


</script>

</html>
